@-moz-document domain("discordapp.com") {
/* ------BACKGROUND------ */
body {
    background: url("/*[[bg]]*/");
    background-size: cover;
}
.appMount-3lHmkl {
    background: rgba(0, 0, 0, /*[[opacity]]*/);
}

/* ------REMOVE GREY/WHITE BG COLORS------ */
/*[[theme]]*/

/*remove borders*/
.header-2o-2hj,
.searchBar-6Kv8R2,
.content-yTz4x3::before {
    box-shadow: none !important;
}

/*misc*/
.container-3gCOGc,  /*friends list*/
.scrollbar-2rkZSL,  /*scrollbar*/
.pad-29zQak,
.track-1JN30G {
    background: transparent !important;
}

/* ------SCROLLBAR------ */
.scrollbar-2rkZSL {
    width: 8px;
}
.thumb-2JwNFC {
    background: rgba(0, 0, 0, .5) !important;
}
.track-1JN30G,
.thumb-2JwNFC {
    border: none !important;
}

/* ------EMBEDDED TEXT------ */
.embedProvider-3k5pfl,
.embedDescription-1Cuq9a,
.embedFields-2IPs5Z,
.embedAuthorName-3mnTWj,
.embedFooterText-28V_Wb {
    color: #f2f2f2 !important;
}

/* ------POP-UP------ */
.modal-yWgWj-,
.footer-3rDWdC {
    background: rgba(0, 0, 0, .5) !important;
}
}
